{
	"parser": "babel-eslint",
	"extends": ["airbnb"],
	"plugins": ["react", "jsx-a11y", "import", "react-hooks"],
	"env": { "browser": true },
	"rules": {
		"no-tabs": "off",
		"no-underscore-dangle": "off",
		"no-param-reassign": "off",
		"no-plusplus": "off",
		"eqeqeq": "off",
		"camelcase": "off",
		"import/prefer-default-export": "off",
		"import/no-extraneous-dependencies": "off",
		"indent": ["warn", "tab", { "SwitchCase": 1 }],
		"react/jsx-indent": ["error", "tab"],
		"react/jsx-indent-props": ["error", "tab"],
		"react/no-array-index-key": "warn",
		"react/jsx-one-expression-per-line": "off",
		"react/jsx-filename-extension": "off",
		"jsx-a11y/media-has-caption": "off",
		"jsx-a11y/anchor-is-valid": "off"
	}
}
