{
	"parser": "babel-eslint",
	"extends": ["airbnb"],
	"plugins": ["react", "jsx-a11y", "import"],
	"env": { "browser": true },
	"rules": {
		"indent": ["warn", "tab", { "SwitchCase": 1 }],
		"object-curly-newline": "off",
		"operator-linebreak": "off",
		"key-spacing": "off",
		"camelcase": "off",
		"one-var": "off",
		"eqeqeq": "off",
		"quotes": "warn",
		"no-underscore-dangle": "off",
		"no-nested-ternary": "off",
		"no-else-return": "off",
		"no-use-before-define": "off",
		"no-tabs": "off",
		"no-shadow": "off",
		"no-unused-vars": "warn",
		"arrow-parens": ["error", "as-needed", { "requireForBlockBody": false }],
		"jsx-a11y/html-has-lang": "off",
		"jsx-a11y/alt-text": "warn",
		"jsx-a11y/anchor-is-valid": "off",
		"react/jsx-wrap-multilines": "off",
		"react/react-in-jsx-scope": "off",
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
		"react/jsx-indent": ["error", "tab"],
		"react/jsx-indent-props": ["error", "tab"],
		"react/destructuring-assignment": "off",
		"react/jsx-closing-bracket-location": "off",
		"react/jsx-one-expression-per-line": "off",
		"react/no-array-index-key": "off"
	}
}
